*, *:after, *:before
  box-sizing border-box

html, body
  margin 0
  padding 0
  height 100%
  background #fff
  font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'

h1, h2, h3, h4, h5, h6, p
  margin 0px
  padding 0px

// layout
.block
  display block
  width 100%

.flex
  display flex
  align-items center
  width 100%

.flex-center
  display flex
  justify-content center
  align-items center
  width 100%

.flex-around
  display flex
  justify-content space-around
  align-items center
  width 100%

.flex-between
  display flex
  justify-content space-between
  align-items center
  width 100%

.flex-end
  display flex
  justify-content flex-end
  align-items center
  width 100%

// text colors
.white
  color white !important

.gray
  color #808080 !important

.danger
  color #e50114 !important

.warning
  color #eb9e05 !important

.primary
  color #3DA8F5 !important

.success
  color #75C940 !important

.black
  color #212121 !important

.link
  color #3DA8F5
  text-decoration underline
  cursor pointer

.text-center
  text-align center

.text-right
  text-align right

.text-pre
  width 100%
  white-space pre-wrap
  word-break break-all

.text-ellipsis
  overflow hidden
  width 100%
  text-overflow ellipsis
  white-space nowrap

.two-line-text
  display -webkit-box
  overflow hidden
  -webkit-box-orient vertical
  -webkit-line-clamp 2
